
.cells {
    height: 1.225rem;
    width: 1.225rem;
    background-color: white;
    /* border: .01rem solid lightgray; */
  }
  
  #playground {
    display: grid;
    height: fit-content;
    width: fit-content;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    border: 3rem solid rgb(245, 245, 245);
    border-style: outset;
    margin-bottom: 2rem;
  }