@import url(./grid.css);
@import url(./food.css);
@import url(./player.css);
@import url(./enemy.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    display: flex;
    flex-wrap: column;
    justify-content: center;
    height: 37.5rem;
    width: 37.5rem;
  }

  body .before-button-click {
    background-color: white;
    height: 37.5rem;
    width: 37.5rem;
  }
  

  #section-right {
    justify-content: center;
    align-content: center;
    align-self: center;
    justify-self: center;
    margin: auto;
  }

  #section-left {
    align-self: center;
    margin: auto;
  }